/*
|--------------------------------------------------------------------------
| class Box
|--------------------------------------------------------------------------
|
| A simple box object with or without a footer.
| This component should not output code
|
| Example use:
	<div class="{{ identifier }}">
	    <div class="box__body">
	        <h1>Title</h1>
	        <img src="">
	    </div>
	    <div class="box__footer">
	        <a href="#">See more</a>
	    </div>
	</div>
|
*/

@mixin Box(
	$var: 'value'
) {
	// Object scope
	$SCOPE: "box";

	@include clearfix;
	width: 100%;


	// Public members
	// all BoxObject's inherit tem
	//
	.#{$SCOPE}__body {
		content: quote($var);
	}

	.#{$SCOPE}__footer {
		padding: 1em 0;
	}


	// Priveledged members
	// can be on or off in BoxObjects, keep the scope here
	//
	%#{$SCOPE}__footlink {
		color: red;
		//@include media-object-footer-link($color-secondary);
	}

	@content;
}
